body{
    font-family: 'Poppins',sans-serif;
   
}
*{
    margin: 0;
    padding: 0;
}

/* moving title  */
marquee{
    background-color: #093f80;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
 } 
 /* <!-- title--subtitle --> */
#title{
    text-align: center;
    color: darkred;
}
#subtitle{
    text-align: center;
    color: brown;
    text-decoration: underline;
}
/* <!-- introduction of PK --> */
.main-part{
    display: flex;
}
#main-picture{
    margin: 20px;
    max-width: 350px;
    height: 200px;   
    border: 10px solid white;
    box-shadow: 0.3rem 0 0 0.3rem  rgb(226, 17, 17);
    border-radius: 50%; 
}

/* <!-- birth and education --> */

.heading-2{
    text-align: center;
    text-decoration: underline rgb(20, 86, 2);
}
 
.child{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* <!-- film career --> */

#poster-1,
#poster-2,
#poster-3,
#poster-4,
#poster-5{
    max-width: 50rem;
    height: 25rem; 
    object-fit:cover; 
    overflow: hidden;    
    margin: 10px 5rem 0 0;
}
.journey-matter-image1,
.journey-matter-image2,
.journey-matter-image3{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 25rem; 
    object-fit:cover; 
    overflow: hidden;
    object-fit:cover; 
    overflow: hidden;
   
}
.btn {
    display: block;
    text-align: center;
    margin: 20px;
}

.btn a {
    display: block;
    padding: 8px;
    width: 100px; 
    height: 40px; 
    line-height: 25px; 
    background-color: #6c5ab5; 
    color: white; 
    text-decoration: none; 
    border-radius: 10px;
    font-weight: bold; 
    transition: background-color 0.3s ease; 
}

.btn a:hover {
    background-color: #404b65; 
    color: white;
    text-decoration: none;
}



 .change-items{
    display: grid;
    grid-template-columns: 40px  40px  40px;
    grid-template-rows:  30px 30px 30px 30px;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
#change-1,#change-2,#change-4,#change-5{
    max-width: 200px;
    height: 150px; 
    object-fit:cover; 
    overflow: hidden;
    margin: 30px 40px;
    padding: 2px;
    border: 1px solid rgb(163, 255, 166);
    background-color: chartreuse;
    border-radius: 19px;
}
.item-6{
    display: flex;
    align-items: center;
    justify-content: center;
}
#change-6{
   
    max-width: 500px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    padding: 2px;
    border: 2px solid rgb(163, 255, 166);
    background-color: chartreuse;
    border-radius: 19px;
} 
